/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
/*[Outfit](https://fonts.google.com/specimen/Outfit)*/


/* ----- Variables ----- */
:root{
/* Colores primarios*/
  --soft-blue: hsl(217, 41%, 90%);
  --cyan: hsl(178, 100%, 50%);
 
/* ### Colores neutrales */
  --very-dark-blue: hsl(217, 54%, 11%);
  --very-dark-blue-c: hsl(216, 50%, 16%);
  --very-dark-blue-l: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body{
  width: 100vw;
  height: 100vh;
  background-color: var(--soft-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
}

.contenedor{
  width: 40rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  text-align: center;
  border-radius: 1.5rem;
}
.tarjeta:hover{
  background-color: var(--cyan);
}

.tarjeta img{
  width: 90%;
  margin-top: 1rem;
  border-radius: 0.7rem;
}

.tarjeta_contenido{
  padding: 0 1.5rem;
  cursor: pointer;

}
/*.tarjeta_contenido:hover{
  background-color: var(--cyan);
}*/

.tarjeta_titulo{
  font-size: 1.5rem;
  line-height: 2rem;
}
.tarjeta_titulo:hover{
  color: var(--white);
}

.tarjeta_parrafo{
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: var(--very-dark-blue-l);
  opacity: 0.6;
}
.tarjeta_parrafo:hover{
  color: var(--very-dark-blue-c)
}