:root{
  /*Colores Primarios*/
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  
  /*Colores Second*/
  --Dark-gray: hsl(0, 0%, 59%);
  

  /*Tipografia*/
  --font-primary: 'Kumbh Sans', sans-serif;
  --tamaño: 18px;

}

/*Utilidades*/

.attribution{
  font-size: 11px;
  text-align: center;
}
.attribution a{
  color: hsl(228, 45%, 44%);
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--dark-cyan);
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 51vw bottom 20vh, left 45vw top 50vh;
  font-family: var(--font-primary);
  font-size: var(--tamaño);
}

/*Contenedor*/

.contenedor{
  margin: 170px auto 50px;
  width: 330px;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/*.tarjeta{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  padding: 0 1rem;
}*/

@media (min-width: 1440px){
  .contenedor{
    width: 350px;
  }
}

.tarjeta img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 87px;
  left: 35%;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.tarjeta_header{
  background: url(../images/bg-pattern-card.svg);
  width: 100%;
  height: 140px;
}

.tarjeta_contenido{
  width: 100%;
  height: 150px;
  background-color: #fff;
  padding: 75px;
  text-align: center;
  box-sizing: border-box;
}

.nombre{
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.edad, .ciudad{
  color: var(--Dark-gray);
}

.ciudad{
  margin-top: 10px;
  font-size: 0.8rem;
}

.contenido_datos{
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-top: 1px solid var(--Dark-gray);
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.estadistica{
  text-align: center;
}
.numero{
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--very-dark-desaturated-blue);
}

.texto{
  font-size: 0.6rem;
  color: var(--Dark-gray);
  letter-spacing: 2px;
}


