/*Tipografia Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/*Variables*/
:root{
  /*Colores Primarios*/

  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  /*Colores Segundarios*/


  /*Tipografia*/
  --fuente-body: 'Open Sans', sans-serif;
  --fuente-second: 'Poppins', sans-serif;

}


/*Sección Utilidade y Generales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--fuente-body);
  background: url(../images/bg-mobile.svg);
  font-size: 16px;
  overflow: hidden;
}

/*Mobile First*/

/*Contenedor*/
