:root{
  /*Colores Primarios*/
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /*Colores Second*/
  --white-paragraphs: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/

  /*Tipografia*/
  --font-primary: 'Lexend Deca', sans-serif;
  --font-second: 'Big Shoulders Display', sans-serif;

}

/*Utilidades*/

.attribution{
  font-size: 11px;
  text-align: center;
}
.attribution a{
  color: hsl(228, 45%, 44%);
}
@media (max-width: 760px){
  .attribution{
    position: absolute;
    top: 0;
  }
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-gray);
  font-family: var(--font-primary);
}

/*Contenedor*/

.contenedor{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta{
  max-width: 50rem;
  height: auto;
  display: flex;
}
@media (max-width: 760px){
  .tarjeta{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45rem;
    padding-bottom: 1rem;
  }
}

.subtarjeta{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.subtarjeta img{
  width: 30%;
}
.titulo{
  color: var(--white-paragraphs);
  font-family: var(--font-second);
  text-transform: uppercase;
}
span{
  color: var(--white-paragraphs);
  font-size: 0.8rem;
}
.uno{
  background: var(--bright-orange);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
@media (max-width: 760px){
  .uno{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0;
  }
}
.uno button{
  color: var(--bright-orange);
}
.dos{
  background: var(--dark-cyan);
}
.dos button{
  color: var(--dark-cyan);
}
.tres{
  background: var(--very-dark-cyan);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
@media (max-width: 760px){
  .tres{
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
.tres button{
  color: var(--very-dark-cyan);
}
button:hover{
  cursor: pointer;
  color: var(--white-paragraphs);
  background-color: transparent;
  border: 2px solid var(--white-paragraphs);
}
button{
  width: 170px;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  margin-top: 4rem;
}
